@model Vocabulary.Business.ViewModels.VocabularyViewModel
@{
    ViewBag.Title = "Словарь терминов и сокращений";
}
<div class="row">
    <div class="span6">
        @Html.EditorFor(model => model.DisplayList)
    </div>
    <div class="span6">
        @Html.EditorFor(model => model.Description)
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/SignalR")
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            initialize();
        });

        function initialize() {
            initializeSignalR.call(this);
            initializeEvent.call(this);
        }

        function initializeSignalR() {
            this.vocabularyHub = $.connection.vocabularyHub;

            vocabularyHub.publishWords = function (words) {
                var resultSearchInput = $('#resultSearch');
                resultSearchInput.html(resultSearchInput.html() + '<option value="' + words + '">' + words + '</option>');
            };
            $.connection.hub.start();


            vocabularyHub.publishMessage = function (nick, msg) {
                var chatWin = $("#chatWindow");
                chatWin.html(chatWin.html() + "<b>" + nick + "</b>: " + msg + "<br />");
            };

            vocabularyHub.publishDescription = function (key, theme, description) {
                $('h3#title').html(key);
                $('h5#theme').html(theme);
                $('p#description').html(description);
            };

            vocabularyHub.publishDescriptionForModal = function (word) {
                var descriptionModal = $('#descriptionModal');
                $('#titleWord').val(word.Key);
                $('#themeWord').html(word.Theme);
                $('#descriptionWord').val(word.Description);
                $('#idWord').val(word.Id);
                descriptionModal.modal();
            };

            vocabularyHub.publishUpdated = function (message) {
                alert(message);
            };
        }

        function initializeEvent() {
            var vocabularyHub = this.vocabularyHub;
            $("select#resultSearch").change(function () {
                if ($(this).children(":selected").length) {
                    vocabularyHub.getDescription($(this).children(":selected").val());
                }
            });
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    startSearchWords();
                }
            });
            $('#searchBtn').click(function () {
                startSearchWords();
            });

            function startSearchWords() {
                $('#resultSearch').html("");
                vocabularyHub.searchWords($("#search").val(), $('#theme').val());
                $("#search").val("");
                enambleBtns();
            }

            $('a#edit').click(function () {
                vocabularyHub.getDescriptionForModal($('select#resultSearch').children(":selected").val());
            });

            $('a#new').click(function () {
                var descriptionModal = $('#descriptionModal');
                $('#titleWord').val('');
                $('#themeWord').html(0);
                $('#descriptionWord').val('');
                $('#idWord').val(0);
                descriptionModal.modal();
            });



            $('#create').click(function () {
                var word = new Object();
                word.Key = $('#titleWord').val();
                word.Theme = $('#themeWord').html();
                word.Description = $('#descriptionWord').val();
                word.Id = $('#idWord').val();
                vocabularyHub.updateWord(word);
            });
        }

        function enambleBtns() {
            $('#contaiterBtns .span1 a.btn').each(function () {
                $(this).removeClass('disabled');
            });
        }
    </script>

}
