@model Vocabulary.Business.ViewModels.DisplayListViewModel
@using Vocabulary.Extensions

<div class="well ">
    <legend>Словарь терминов и сокращений</legend>
    <div class="form-horizontal">
        <div class="control-group">
            @Html.LabelFor(model => model.Theme, new { @class = "control-label" })
            <div class="controls">
                @Html.EnumDropDownListFor(model => model.Theme, new { id = "theme" })
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <div class="row-fluid">
                <div class="span12">
                    <select id="resultSearch" size="15" class="input-block-level">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <div class="row-fluid">
                <div class="span8">
                    <input id="search" type="text" value="" class="input-xlarge" />
                </div>
                <div class="span2 pull-right">
                    <input type="button" value="Поиск" id="searchBtn" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </div>
</div>
